/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*#code_id_box{
	width: 50%;

	align-items: center;
}
*/
.middle{
	/*width: 300px;*/
	text-align: center;
	/*padding-left: -10%;*/
}

.gameinfo{
	display: inline-block;
	font-weight: bold;
	padding-right:10%;
	padding-left: 10%;
	text-align: center;
	color: #ebeaed ;
	color:#000 !important; background-color:#ebeaed !important;
}
.bold{
	font-weight: bold;
}
.score{
	display: inline-block;
	border: 1px black solid;

}
.tablescore {
	width: 50%;
	margin:auto;
	margin-top: 50px;
	color:#fff !important; background-color:#4b4a55 !important; 
	margin-bottom: 30px;

}

.tablescore td{
	/*padding: 10px;	*/
	padding-left: 30px;

}
.navlink a{
	color:  #d6d6db;
}
.heading{
	background: #898696;
	color: #f9f9fa;
	margin-bottom: 10px;
}
.navbar{
	color:#fff !important; background-color:#4b4a55 !important;
}

.tablescore th{
	text-decoration: underline;
	padding-left: 30px;
}
.formbtn{
color:#fff !important; background-color:#898696 !important;
}

.game_table td {

line-height: 10px;

}
.game_ind{
	color:#fff !important; background-color:#9896a4 !important;
}